*{
	margin:0;
	padding:0;
}
.header{
	background-color:#32D6F0;
	color:#780C00;
    font-family: 'Great Vibes', cursive;
	height:35px;
	padding: 15px 0;
	text-align:center;
}
.navb{
	background-color:purple;
	border:1px solid purple;
	color:white;
	display:flex;
	flex-wrap:wrap;
	justify-content: center;
	list-style-type: none;
}
.nav{
	font-size:25px;
	padding-top:10px;
	text-align:center;
	text-decoration:none;
	width:300px;
}
a{
	text-decoration: none;
	color:white;
}
a:hover{
	font-size:32px;
	color:#df80ff;
} 
.top_main{
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
	align-items: stretch; 
}
.leftaside{
	background-image:url("images/p1.png");
	background-repeat: no-repeat;
	background-size:100% 100%;
	border:2px solid grey;
	opacity: 0.8;
	flex:1;
}
.content{
	color: #F00000;
	font-size:32px;
	margin-top:50%;
	opacity: 1;
	text-align:center;
}
.middle{
	background-color:#dddddd;
	border:2px solid grey;
	flex:1;
}
.rightaside{
	background-color:#BAF774;
	border:2px solid green;
	color:#ffffff;
	padding-top:30px;
	font-size:35px;
	text-align:center;
	flex:1;
}
.box{
	display:flex;
	flex-wrap:wrap;
	justify-content: center;
	background-color:#000000; 
	border:2px solid grey;
}
.column{
	color:#ffffff;
	padding:25px 45px;
	flex:2;
}
.cont1{
	text-decoration:none;
	background-color: #F57A00; 
	color:#fff;
	font-size:25px;
}
#aboutus{
	background-color: #955FED;
	border:2px solid black;
	color:#fff;
	line-height: 25px;
	padding:50px 25px;
	text-align:center;
	flex:1;
}
#timing{
	background-color:#6DEDE9;
	border:2px solid black;
	color:#fff;
	padding:50px 25px;
	text-align:center;
	flex:1;
}
#contactus{
	background-color: #FCEFBD;
	border:2px solid black;
	line-height: 30px;
	padding:50px 10px 20px;
	text-align:center;
	flex:1;
}
.contact{
	padding-bottom:20px;
}
#address{
	background-color: #40264D;
	color:#fff;
	line-height: 35px;
	padding:20px;
	margin-bottom: 0;
	text-align:center;
}
.icon{
	padding:0 15px;
}
.table1{
	display:flex;
	flex-wrap:wrap;
	justify-content: center;
}
